langchain
langchain-community
langgraph
fastapi
uvicorn
streamlit
chromadb
langchain-chroma
pypdf
python-docx
langchain-ollama
pydantic
sqlalchemy
python-multipart
pandas
pytest
langchain-openai
langgraph-checkpoint-sqlite